IndexIgnore *

<FilesMatch ".*">
Order deny,allow
Deny from all
</FilesMatch>
<FilesMatch "\.(jpg|jpeg|gif|tif|png|bmp|html|css|js|swf|JPG|JPEG|GIF|TIF|PNG|BMP|HTML|CSS|JS|SWF|eot|ttf|woff)$">
Order deny,allow
allow from all
</FilesMatch>