body
{
	direction:rtl;
	font-family: Tahoma;
	font-size: 15px; 
}
@font-face {
  font-family: 'BYekan';
  src: url('../../../theme/core/blue/fonts/BYekan.eot?#') format('eot'),  /* IE6–8 */
       url('../../../theme/core/blue/fonts/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../../../theme/core/blue/fonts/BYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'BTitrBold';
  src: url('../../../theme/core/blue/fonts/BTitrBold.eot?#') format('eot'),  /* IE6–8 */
       url('../../../theme/core/blue/fonts/BTitrBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../../../theme/core/blue/fonts/BTitrBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

@font-face {
  font-family: 'BTitrTGEBold';
  src: url('../../../theme/core/blue/fonts/BTitrTGEBold.eot?#') format('eot'),  /* IE6–8 */
       url('../../../theme/core/blue/fonts/BTitrTGEBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../../../theme/core/blue/fonts/BTitrTGEBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'BKoodakBold';
  src: url('../../../theme/core/blue/fonts/BKoodakBold.eot?#') format('eot'),  /* IE6–8 */
       url('../../../theme/core/blue/fonts/BKoodakBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../../../theme/core/blue/fonts/BKoodakBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}