<!--
body, html   { font-size: 8pt; font-family: Tahoma; background-image: url('../images/bg.gif'); 
               background-repeat: repeat-x; background-attachment: fixed; color:#414141 }
p, br        { direction: rtl; line-height: 140%; margin-top: 3; margin-bottom: 3 }
img          { border-style: solid; border-width: 0px;opacity: 0.60; }
img:hover          { border-style: solid; border-width: 0px;opacity: 100;  }
table, tr, td, tbody { font-size: 8pt; font-family: Tahoma; direction: rtl }
input,textarea,select        {  direction: rtl; color: #A471B0; font-size: 8pt; font-family: Tahoma; 
               border: 1px solid #E6D8E9;-moz-border-radius:5px}
input:hover,textarea:hover        {  direction: rtl; color: #A471B0; font-size: 8pt; font-family: Tahoma; 
               border: 1px solid #9A66A7;-moz-border-radius:5px}
a            { text-decoration: none; font-size: 8pt; font-family: Tahoma; color:#414141 }
a:hover      {  text-decoration: none; color: #A471B0; font-size: 8pt; font-family: Tahoma}
a:visited    {  font-size: 8pt; font-family: Tahoma; text-decoration: none; color: #660033}
.core        { direction: rtl; font-size: 8pt; font-family: Tahoma; padding: 3px; 
               background-color: #F9F9F9; width:500px;-moz-border-radius:5px }
.umenu       {  font-size: 8pt; font-family: Tahoma; color: #FFFFFF; direction: rtl; height: 
               28px; padding-right: 30px; padding-top: 8px; background-repeat: no-repeat; 
               background-attachment: scroll; background-position: 0% 0%; background-color:#9C68A9}
.dmenu       {  direction: rtl; border-bottom: 2px solid #9A829A; margin-bottom: 3; padding: 
               5px; background-color: #FFFFFF}
.formc       { font-size: 8pt; font-family: Tahoma; direction: rtl; padding: 5px; 
               background-color: #FCF0FF;-moz-border-radius:5px; margin-bottom:5 }
.comments    { direction: rtl; font-size: 8pt; font-family: Tahoma; color: #333333; 
               border: 1px solid #999999; padding: 5px; background-color: 
               #F5F5F5;-moz-border-radius:5px; width:450px; margin-bottom:5 }
.reply{
border-top:1px solid #aaa;
background:#F4F4F4;
margin: 5px;
padding: 5px;
}
.box,.success { border:1px solid #CCFF00; padding:3px; BACKGROUND: #F4FFBE; MARGIN-BOTTOM: 2px; COLOR: #74834A; DIRECTION: rtl; TEXT-ALIGN: right;Font-Family:Tahoma;Font-Size:9pt}
.box1 { border:1px solid #9900FF; padding:3px; BACKGROUND: #DDCCFF; MARGIN-BOTTOM: 2px; COLOR: #9900CC; DIRECTION: rtl; TEXT-ALIGN: right;Font-Family:Tahoma;Font-Size:9pt}
.box2,.error { border:1px solid #FF0000; padding:3px; BACKGROUND: #FFCCD7; MARGIN-BOTTOM: 2px; COLOR: #FF0000; DIRECTION: rtl; TEXT-ALIGN: right;Font-Family:Tahoma;Font-Size:9pt}

-->